table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-left: 5%;
}
td{
    font-style:italic;
}
tbody{
    background-color:cornflowerblue;
}
tbody tr:nth-child(even){
    background-color: deepskyblue;
}
a:link,a:visited,a:active{
    text-decoration: none;
}
a:hover{
    background-color:lime;
}
