a.head {
    margin: 1em;
}
h1.head {
    text-align: center;
    font-family: fantasy;
}
header {
    border: 0;
    width: 100%;
}
footer {
    width: 100%;
    text-align: center;
    border: 0;
}
.menuItem {
    font-size: larger;
}
a:link{
    color: navy;
}
a:visited{
    color:royalblue;
}
a:hover{
    color:black;
    background-color:navy;
    font-weight: bold;
}
a:active{
    color:royalblue;
    text-decoration: none;
}
