body{
    background-image: url(seven.png);
    background-repeat: repeat;
    background-color: black;
    color: white;
    text-align: center;
}
#resultTable{
    border: solid 5px white;
    background-color: black;
    padding: 5px;
    margin: auto;
    width: 50%;
    margin-top: 5em;
}
.initialDisplay{
    margin: auto;
}
.thead {
    background-color: darkred;
    padding: 10em;
    font-size: 1.2em;
}
.tbody {
    background-color: red;
    padding: 10em;
    font-size: 1.2em;
}
.tlabel {
    background-color: black;
    text-decoration: underline;
}
.initialDisplay input {
    margin-top: 1em;
    padding: .5em;
}
input[type=button]{
    width: 80%;
    color: white;
    background-color: red;
    cursor: pointer;
    border: solid black 1px;
    padding: 1em;
    font-size: 2em;
}
input[type=number]{
    margin-left: 1em;
    font-size: 1.2em;
}
